:root{
    --pink  : #ffaff4   ;
    --dark  : #1c1a30   ;
    --blue  : #198daa   ;
    --Kblue : #644b75   ;
}

form .row a{
    border-color: var(--pink) !important;
    color: black !important;
    font-weight: bold !important;
    border-width: 2px !important;
    z-index: 10;
    background-color: var(--pink) !important;
  }

.navbar{
    background-color: #1c1a3063;
    position: relative !important;
    box-shadow: 0px 10px 15px var(--pink);
}

footer{
    background-color: #1c1a3063;
    box-shadow: 0px -10px 15px var(--pink);
    margin-top: 5cm;
    margin: 0 !important;
    width: 100% !important;
}


